<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bank.name %>
</p>

<p>
  <strong>Routing:</strong>
  <%= @bank.routing %>
</p>

<p>
  <strong>Checking:</strong>
  <%= @bank.checking %>
</p>

<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
